@font-face { font-family: Phonk; src: url('phonk-regular-demo.otf'); } 
html {
    scroll-behavior: smooth;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html,body, .home {
    height:100%;
    font-family: 'Inter';
}
/* Utility classes */

.container {
    width:80%;
    max-width: 1440px;
    margin: 0 auto;
}

.icons {
    margin-left: 10px;
    width:22px;
    display:block;
    filter: invert();
    height:auto;
}


/* Utility classes */

/* Site CSS */

.intro {
    background: #080831;
    position:fixed;
    height:100%;
    width:100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text {
    color:#fff;
    font-family: 'Phonk';
    font-size: clamp(12px, 2vw, 6rem);
   
}
.slider {
    background: #080220;
    position:fixed;
    height:100%;
    width:100%;
    z-index: 1001;
    transform: translateY(100%);
}

.hide {
    background:#080831;
    overflow: hidden;
}

.hide div {
    transform: translateY(100%);
    display:inline-block;
}

a {
    text-decoration: none;
}

body {
    background: rgb(0, 0, 0);

}
.home video {
    opacity: 0.6;
    position:fixed;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#nav-logo{
    width:auto;
    height: 50px;
}
nav a {
    color:#fff;
    transition: 250ms ease-in-out;
}
nav {
    z-index: 100;
    position: relative;
}

.mobile-nav {
    position: fixed;
    transition: 250ms ease-in-out;
    width:100%;
    right:0;top:0;
    height:100%;
    background: rgba(8, 10, 49, 0.69);
    z-index: 40;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(8, 10, 49, 0.3);
}

.mobile-nav-content {
    padding:35px;
    height:100%;
}
.top-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:15px;
}
.top-mobile img {
    filter:invert();
}
.moveNav {
    transform:translateX(100%);
}
.middle-mobile {
    
    height:100%;
    font-size: 42px;
    display:flex;
    align-items: center;
    justify-content: center;   
    gap:80px;
    flex-direction: column;
}
.middle-mobile a {
    font-family: 'Phonk';
    /* background-color: rgba(255, 255, 255, 0);
    border-radius: 9px;
    -webkit-box-shadow: 1px 9px 27px 4px rgba(255, 255, 255, 0.31);
    box-shadow: 1px 9px 50px 4px rgba(255, 255, 255, 0.041); */
}
nav {
    display: flex;justify-content: center;
}
.nav-right img, .mobile-nav-content img {
    width:22px;
    height:auto;
}

.nav-right img:hover {
    filter: invert(20%) sepia(69%) saturate(3317%) hue-rotate(208deg) brightness(90%) contrast(94%);
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right #contact {
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.nav-content {
    height:120px;
    display:flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}

.nav-middle {
    display:flex;
    margin-left: 7rem;
}

nav a:hover {
    color:#0854bb;
}
.nav-middle a+a{
    margin-left: 30px;
}
.home-content {
    height:100%;
    width:100%;
    padding-bottom: 7rem;
    display:flex;
    align-items: center;
}
.home-text {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-content h1, span {
    color:#fff;
    font-family: Phonk;
}
span {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}
button {
    padding:1rem 4rem;
    border-radius: 7px;
    font-family: inherit;
    cursor: pointer;
    border: 0;
    color:#fff;
    -webkit-box-shadow: 1px 9px 27px 4px rgba(8,84,187,0.31); 
    box-shadow: 1px 9px 27px 4px rgba(8,84,187,0.41);
    background-color: #0854bb;
    transition: 250ms ease-in-out;
}
button:hover {
    background-color: #2f76da;
    transform: scale(1.1);
}
.main-title {
    font-size: clamp(20px,2.3vw,72px);
   text-align: center;
}

.main-desc {
    
    width:40%;
    margin:.5rem 0 2rem 0;
    color:#d0d5dd;
    line-height: 1.6;
}
.main-desc p {
    font-size: clamp(13px,0.81vw,32px);
    text-align: center;
}
.custom-shape-divider-bottom-1670867033 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670867033 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 113px;
}

.custom-shape-divider-bottom-1670867033 .shape-fill {
    fill: #FFFFFF;
}

.features {
    background-color: #080220;
    color:#fff;
}

.section-title {
    text-align: center;
    font-size: clamp(30px,2.3vw,72px);
    font-family: 'Phonk';
}

.feature-row {
    margin-top: 3.5rem;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center; 
}
.feature-row > * {
    flex: 1 1 0;
    width: 0;
}
.feature-row:hover img {
    filter:grayscale(0%);
}
.features-content {
    z-index: 3;
    position:relative;
}
.feature-row img {
    transition: 1000ms ease-in-out;
    max-width: 100%;
    /* height: 100%; */
    height: 350px;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
    /* filter: grayscale(100%); */
}
.featuresbg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: 50% 5%;
    z-index: 2;
    overflow-y: hidden;
    opacity: .2;
}
.features {
    padding:5rem 0;
    
    position: relative;
}
.row-heading {
    font-size: clamp(20px,2vw,50px);
    font-family: 'Phonk';
}
.card-content {
    padding: 20px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title {
    font-size: clamp(18px,1.0vw,50px);
    margin-bottom: 5px;
    color:black;
    font-weight: bolder;
    font-weight: 500;
}
.card-description {
    color: #87888a;
    padding: 20px;
    line-height: 1.5;
}
.feature-card {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 9px;
    -webkit-box-shadow: 1px 9px 27px 4px rgba(255, 255, 255, 0.31);
    box-shadow: 1px 9px 50px 4px rgba(255, 255, 255, 0.1);
    min-width: 350px;
    max-width: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.feature-row {
    padding-bottom: 6rem;
}
.col-title {
    font-size: clamp(20px,2vw,50px);
    font-family: 'Phonk';
}
/* Site CSS */
.feature-column {
    align-items: center;
    display:flex;
    gap:40px;
    margin:15rem 0;
}
.reverse {
    flex-direction: row-reverse;
    text-align: right;
}
.feature-column > * {
    flex: 1 1 0;
    /* width: 0; */
}
.feature-column img {
    max-width: 100%;
    border-radius: 7px;
    -webkit-box-shadow: 1px 9px 27px 4px rgba(255, 255, 255, 0.06); 
    box-shadow: 1px 9px 50px 4px rgba(255, 255, 255, 0.06);
}
.col-right img {
   
}
.col-desc {
    line-height: 1.6;
    margin-top: 35px;
    color: #d0d5dd;
}

.type-effect {
    text-align: center;
    color:#fff;
}

.type-effect video {
    z-index: 3;
}

.cta {
    position:relative;
    background-color: #080831;
    z-index: 10;
    padding:10rem 0;
    height:460px;
    /* -webkit-box-shadow: 1px 9px 27px 4px rgba(8,84,187,0.31); 
    box-shadow: 1px 9px 27px 4px rgba(8,84,187,0.41); */
}
.cta video {
    position:absolute;
    top:0;
    object-fit: cover;
    opacity: 0.5;
    left:0;
    z-index: -1;
    width:100%;
    height:100%;
}
.cta h1 {
    
    margin-bottom: 2.5rem;
}

.mobile {
    display:none;
}
.mr {
    margin-right: 2rem;
}
.ml {
    margin-left: 2rem;
}
footer {
    padding-bottom:calc(5.5rem + 60px);
    padding-top: 5.5rem;
    position:relative;
    color: #fff;
    background-color: #000000;
}
footer .container {
    display:flex;
    justify-content: space-between;
}
footer .footer-title {
    
        font-size: clamp(20px,1.6vw,40px);
        font-family: 'Phonk';
}
.info {
    margin:25px 0;
}
.bolder {
    font-weight: bolder;
}
.footer-bar .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.bar-right {
    display:flex;
}
.bar-right img {
    display:block;
}
.footer-bar {
    bottom: 0;
position: absolute;
width: 100%;
padding: 20px 0;
border-top: 1px solid #ffffff2e;
}
.contact-title {
    display:flex;
    align-items: center;
}
.mobile-break {
    display:none;
}
@media screen and (max-width:900px) {
    .desktop {
        display: none;
    }
    .mobile-break {
        display:block;
    }
    .home video {
        object-fit: cover;
    }
    .mobile {
        display:block;
    }
    /* .feature-row {
        flex-direction: column;
    }*/
    .wrap {
        font-size: 26px;
    }
    .feature-column {
        margin:4rem 0;
        flex-direction: column;
        text-align: center;
    }
    .feature-column p {
        margin-left: 0;
        margin-right: 0;
    }
    .main-desc {
        width:100%;
    }
    .container {
        width: 90%;
    }
    .mr {
        margin-right: 0;
    }
    .ml {
        margin-left: 0;
    }
    .type-effect h1 {
        height:160px;
    }
    .main-desc p {
        width: 80%;
margin: 0 auto;
    }
    .type-effect {

    }
}
@media screen and (max-width:500px) {
    .feature-card {
        transform:scale(0.9);
    }
    .home video {
        top: -41px;
left: -375px;
    }
}
